@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
:root {
  --violet: #665DFE;
  --aqua: #3ACCE1;
  --pink: #FE4F9A;
}

/* MAPS*/
/* MAPS*/
html {
  scroll-behavior: smooth;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* INICIO MENU*/
body {
  background-color: #0a141d;
}
body .logo {
  width: 90px;
}
body .navbar li {
  margin-right: 1.5rem;
}
body .navbar li:last-child {
  background-color: #665DFE;
  border: 2px solid #665DFE;
  border-radius: 0.2rem;
}
body .navbar li:last-child:hover {
  background: transparent;
  border: 2px solid #665DFE;
  box-shadow: 0 0 50px #665DFE;
  transform: translate(10px);
  transition: 1.3s;
}

/* FIN MENU*/
/* INICIO HOME PRINCIPAL*/
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.gradient-text {
  background-image: linear-gradient(90deg, var(--violet), var(--aqua) 50%, var(--violet) 75%);
  background-color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 60px;
  padding-top: 280px;
  padding-left: 20px;
  font-family: "rubik", sans-serif;
  -webkit-animation: gradient 5s linear infinite;
          animation: gradient 5s linear infinite;
  background-repeat: repeat;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -80rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -80rem 0;
  }
  100% {
    background-position: 0 0;
  }
}
.btn, .boton {
  background: linear-gradient(#3ACCE1, #665DFE);
  margin: 20px;
  color: #222222;
}
.btn:hover, .boton:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px #665DFE;
}

.mouse {
  width: 25px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  margin-left: 50%;
  margin-top: 110px;
}
.mouse .mouse-wheel {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  -webkit-animation: move-wheel 1s linear infinite;
          animation: move-wheel 1s linear infinite;
}

@-webkit-keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
/* INICIO HOME PRINCIPAL*/
/* INICIO MEDIO*/
.contenedor-waves {
  height: 100%;
  margin-top: -40px;
}

.transito {
  height: 70px;
  background-color: #242a45;
  padding: 0;
}
.transito h2 {
  font-family: "Rubik", sans-serif;
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

.medio {
  width: 100%;
  background-color: #242a45;
}
.medio .columnas {
  height: 400px;
  margin: 0;
}
.medio .cleft {
  padding: 10px;
}
.medio .twitter-timeline {
  border-radius: 10px;
  height: 400px;
}
.medio .cright {
  padding: 10px;
}
.medio .waze {
  border-radius: 10px;
  height: 400px;
}

/* FIN MEDIO*/
/* INICIO FOOTER*/
footer {
  color: #fff;
  font-family: "Rubik", sans-serif;
  background-color: #0a141d;
}
footer a {
  font-size: 15px;
  font-family: "rubik", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
footer a:hover {
  color: #665DFE;
  text-decoration: none;
}
footer .row h2 {
  font-size: 45px;
  text-align: center;
}
footer hr {
  background-color: white;
  height: 2px;
  width: 50%;
  margin-left: 0;
}
footer .mapa h3 {
  padding-top: 10px;
  font-size: 28px;
}

.items img {
  margin: 10px;
}
.items h3 {
  padding-top: 10px;
  font-size: 28px;
  font-family: "Rubik", sans-serif;
}
.items h4 {
  padding-top: 10px;
  font-size: 20px;
}
.items input {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

/*EXTEND*/
.boton {
  margin-left: 0;
  padding: 5px;
  border-radius: 5px;
}

/*EXTEND*/
.footer-copyright {
  background-color: #242a45;
}
.footer-copyright .p {
  color: #fff;
}

.logo-descarga {
  padding-left: 20px;
}

/* FIN FOOTER*/
/* INICIO Que es UOPI*/
.jumbotron {
  background-color: #0a141d;
  background-image: url(./imagenes/Buenos\ Aires.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  padding-bottom: 350px;
}
.jumbotron h1 {
  font-size: 60px;
  font-family: "rubik", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 110px;
}
.jumbotron p {
  font-family: "rubik", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

.box-uopi {
  width: 100%;
  margin: 0;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cajas {
  width: 100%;
  background-color: #051829;
}

/* @MIXIN*/
.cajauopi-1 {
  position: relative;
  border-bottom: 1px solid #242a45;
  border-top: 1px solid #242a45;
  height: 600px;
}

.cajauopi-2 {
  position: relative;
  border-bottom: 1px solid #242a45;
  border-top: 1px solid #242a45;
  height: 600px;
}

.cajauopi-3 {
  position: relative;
  border-bottom: 1px solid #242a45;
  border-top: 1px solid #242a45;
  height: 600px;
}

.cajauopi-4 {
  position: relative;
  border-bottom: 1px solid #242a45;
  border-top: 1px solid #242a45;
  height: 600px;
}

/* @MIXIN*/
.box2 p {
  width: 100%;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

.cajas img {
  width: 400px;
  padding-top: 25%;
}

.smartphone-mockup {
  background: #242a45;
  width: 100%;
  align-self: stretch;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.smartphone-mockup__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2.5rem 0;
}

.smartphone-mockup__content.iphone-white {
  border-radius: 1.5rem;
  overflow: hidden;
}

.smartphone-mockup__content img {
  width: 247px;
  height: 568px;
}

.smartphone-mockup__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.smartphone-mockup__screen-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.smartphone-mockup__image {
  z-index: 1;
  width: 280px;
  height: 600px;
}

.box-uopi .cuadro-beneficio {
  background: rgb(5, 24, 41);
  background: linear-gradient(270deg, rgb(5, 24, 41) 0%, rgb(36, 42, 69) 100%);
  height: 100%;
}

.cuadro-beneficio h1 {
  font-size: 50px;
  font-family: "rubik", sans-serif;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 25px;
}

.cuadro-beneficio .emoji {
  font-size: 50px;
  color: #ffffff;
  margin: 30px;
  padding-right: 10px;
}

.contenedor-q {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.textos p {
  font-size: 16px;
  color: #fff;
  padding-right: 10px;
  padding-right: 20px;
}

.ahorro h3 {
  font-size: 28px;
  color: #fff;
}

.tiempo h3 {
  font-size: 28px;
  color: #fff;
}

.comodidad h3 {
  font-size: 28px;
  color: #fff;
}

.seguridad h3 {
  font-size: 28px;
  color: #fff;
}

.box-1 h3 {
  font-size: 28px;
  color: #fff;
}
.box-1 p {
  font-size: 15px;
  color: #fff;
}
.box-1 img {
  width: 120px;
}

/* FIN Que es UOPI*/
/* INICIO REPORTE */
.reporte .descarga {
  width: 100%;
  background-color: #051829;
}
.reporte .titulo-descarga h2 {
  padding-top: 70px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 45px;
  font-family: "Rubik", sans-serif;
}
.reporte .imagenuopi {
  width: 100%;
  padding-top: 80px;
  background-color: #051829;
}

.video1 {
  border-radius: 10px;
}

.cont-funcional {
  width: 100%;
  background-color: #051829;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.prot h2 {
  font-size: 45px;
  font-family: "rubik", sans-serif;
  color: #fff;
  padding-bottom: 20px;
}

.prot img {
  width: 200px;
  border-radius: 15px;
}

.img-prot:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px #FE4F9A;
}

.gotoup {
  position: fixed;
  width: 50px;
  height: 50px;
  background: linear-gradient(#3ACCE1, #665DFE);
  bottom: 90px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  border-radius: 50px;
  right: 0;
  margin-right: 20px;
}

.gotoup:hover {
  color: white;
  transition: linear 0.5s;
  box-shadow: 0 0 20px #665DFE;
  width: 60px;
  height: 60px;
  bottom: 80px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
}

/* FIN REPORTE */
/* INICIO ACERCA DE MI */
.contenedor-yo {
  height: 100%;
  width: 100%;
  background-color: #051829;
}

.contenedor-texto {
  height: 700px;
}

.contenedor-foto {
  height: 700px;
}

.contenedor-texto .descripcion {
  font-family: "rubik", sans-serif;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  line-height: 35px;
}

.contenedor-iam {
  display: flex;
  width: 100%;
  height: 55px;
  font-size: 40px;
  font-family: "rubik", sans-serif;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.contenedor-texto ul {
  -webkit-animation: cambiar 7s infinite;
          animation: cambiar 7s infinite;
}

.contenedor-texto .iam p {
  padding-top: 120px;
  color: #665DFE;
  font-family: "rubik", sans-serif;
  font-size: 55px;
}

@-webkit-keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -60px;
  }
  50% {
    margin-top: -60px;
  }
  55% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  85% {
    margin-top: -60px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -60px;
  }
  50% {
    margin-top: -60px;
  }
  55% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  85% {
    margin-top: -60px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}
.card {
  position: absolute;
  border-radius: 8px;
  height: 450px;
  width: 380px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 80px -10px black;
  overflow: hidden;
  border: solid 5px;
  -o-border-image: linear-gradient(#665DFE, #3ACCE1, #FE4F9A) 1;
     border-image: linear-gradient(#665DFE, #3ACCE1, #FE4F9A) 1;
  -webkit-animation: rotate 2.5s ease-in infinite;
          animation: rotate 2.5s ease-in infinite;
}

@-webkit-keyframes rotate {
  50% {
    border-image: linear-gradient(360deg, #665DFE, #3ACCE1, #FE4F9A) 1;
  }
}

@keyframes rotate {
  50% {
    -o-border-image: linear-gradient(360deg, #665DFE, #3ACCE1, #FE4F9A) 1;
       border-image: linear-gradient(360deg, #665DFE, #3ACCE1, #FE4F9A) 1;
  }
}
.card-blur {
  position: absolute;
  height: 100%;
  width: calc(100% + 1px);
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
  opacity: 0.6;
}

.footer {
  z-index: 1;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

svg#curve {
  position: absolute;
  fill: #665DFE;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 450px;
}

.connections {
  height: 80px;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
}

.connection {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: linear-gradient(#3ACCE1, #665DFE);
  display: inline-block;
  padding: 5px;
  margin-right: 25px;
  transform: translateY(200px);
  transition: transform 1s cubic-bezier(0.46, 1.48, 0.18, 0.81);
}

.card:hover .connection {
  transform: translateY(0px);
}

.info {
  font-family: "rubik", sans-serif;
  padding-left: 20px;
  transform: translateY(250px);
  transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
}

.card:hover .info {
  transform: translateY(0px);
}

.name {
  font-size: 25px;
  font-weight: bolder;
  padding-top: 3px;
  color: #fff;
}

.job {
  margin-top: 10px;
  color: #fff;
}

.connection.facebook {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  padding: 0px;
  border-radius: 100%;
  overflow: hidden;
}

.connection.twitter {
  transition-delay: 0.06s;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  padding: 0px;
  border-radius: 100%;
  overflow: hidden;
}

.connection.behance {
  transition-delay: 0.12s;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  padding: 0px;
  border-radius: 100%;
  overflow: hidden;
}

.connection.facebook .icon {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 10px;
}

.connection.twitter .icon {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 10px;
}

.connection.behance .icon {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 10px;
}

.connection.facebook .icon {
  background-image: url(./imagenes/html5-brands.svg);
}

.connection.twitter .icon {
  background-image: url(./imagenes/css3-alt-brands.svg);
}

.connection.behance .icon {
  background-image: url(./imagenes/bootstrap-brands.svg);
}

.card {
  background-image: url(./imagenes/capri.jpeg);
}

/* FIN ACERCA DE MI */
/* INICIO CONTACTO*/
.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  padding-bottom: 200px;
  background-color: #051829;
}

ul {
  list-style: none;
  padding: 0;
}

.logos {
  font-family: "rubik", sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 3em;
  color: white;
}

.logos span {
  color: #3ACCE1;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  color: white;
  font-family: "rubik", sans-serif;
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(130, 130, 130);
  border-bottom: 1px solid #3ACCE1;
}

.contact-form form button {
  background: #3ACCE1;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #665DFE;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-wrapper .contact-info {
  padding: 0;
  display: grid;
}

.contact-info {
  background: linear-gradient(#0a141d, #665DFE);
}

/* FIN CONTACTO *//*# sourceMappingURL=estilos.css.map */